<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Persona.Data.Properties.Settings.ManualConnectionString"
            connectionString="Data Source=DESKTOP-RBAA42T\MSSQLSERVER01;Initial Catalog=Manual;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>